<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobile.capstonedesign">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".auth.SignUpNicknameActivity"></activity>
        <activity android:name=".auth.SignUpDeterminationActivity" />
        <activity android:name=".auth.SignUpAmountActivity" />
        <activity android:name=".ui.campaign.CampaignWebViewActivity" />
        <activity android:name=".AlcoholMeasureActivity" />
        <activity android:name=".ui.community.CommentUpdateActivity" />
        <activity android:name=".ui.community.ReplyDetailActivity" />
        <activity
            android:name=".ui.community.BoardDetailActivity"
            android:windowSoftInputMode="adjustPan|adjustUnspecified" />
        <activity android:name=".auth.FindPasswordInputActivity" />
        <activity android:name=".auth.FindPasswordCertificationActivity" />
        <activity android:name=".tmp.MeasureActivity" />
        <activity android:name=".tmp.SelectMeasureModeActivity" />
        <activity android:name=".auth.SignUpCertificationNumberActivity" />
        <activity android:name=".auth.SignUpPasswordActivity" />
        <activity android:name=".auth.SignUpEmailActivity" />
        <activity android:name=".ui.community.CommunityUpdateWritingActivity" />
        <activity android:name=".TobaccoMeasureActivity" />
        <activity android:name=".ui.community.SearchActivity" />
        <activity android:name=".BluetoothPairingActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".auth.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.community.CommunityWritingActivity"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".http.test.MainMemberActivity" />
    </application>

</manifest>